# @package _global_

defines:
  driver_code_path: ${wizard.log_dir}/driver_code

# Inference config values of the model can be overridden here in the yaml or
# from the command line, e.g.:
# > sbatch submit.sh ++driver.inference.Cframes=4
# Or in this file, e.g.:
# > driver:
# >   inference:
# >     Cframes: 4
# >     # If we want to use interpolation, we need to escape it here.
# >     min_num_historical_waypoints: \${inference.num_historical_waypoints}

services:
  # we'll override the Alpamayo endpoint definition specific in `base_config.yaml` to add an extra volume mount
  # and install the code it contains inside the container
  driver:
    volumes:
      # \/ same mounts for alpackages/output as in the ORD config + a new mount pointing to your home directory
      - "${defines.alpackages}:/mnt/alpackages"
      - "${wizard.log_dir}:/mnt/output"

      # \/ New mount for your code.
      # The image contains code under /alpamayo but instead of replacing it we mount to a new path /mnt/code.
      # It is assumed that driver_code_path contains a valid virtual environment for uv in .venv.
      - "${defines.driver_code_path}:/mnt/code"
      - "/lustre:/lustre"

    command:
      # Run alpsim_driver from the mounted directory.
      - "cd /mnt/code"
      - "&&"
      # NOTE while alpamayo uses `uv` it requires custom steps and permissions set up to build the environment
      # (see Dockerfile.inference). Therefore `uv sync` or `uv run` will likely fail. There are two options:
      # 1) Reuse the container's uv environment (recommended)
      # This assumes that the driver image has matching requirements with the mounted code.
      - "/opt/venv/bin/python projects/alpasim/alpasim_driver.py"
      # OR
      # 2) Use the user's custom uv environment in `.venv` without syncing.
      # This assumes that the mounted code has a valid uv environment in `.venv`.
      # Uncomment the following line and comment the previous one if you want to use this option.
      # - "uv run --no-sync projects/alpasim/alpasim_driver.py"
      - "--config-path=/mnt/code/projects/onboard/onboard_inference/configs"
      - "--config-name=default_alpasim"
      - "model_path=/mnt/alpackages/${defines.driver_model}"
      - "host=0.0.0.0"
      - "port={port}"
      - "output_dir=/mnt/output"
      # This converts the driver config to a string of cmd line args,
      # allow to override the driver config from the command.
      - "${cmd-line-args:${driver}}"
