# @package _global_
# SLURM smoke test configuration, used for SLURM CI tests
# This config uses the oss stable manifest images
#
# Note: This file contains the awkward mounting of log_dir/src_copy, which is required
# to work around the inability to mount /tmp/builds/... when performing sbatch calls.
# It assumes that run-test-slurm.sh has copied the source to log_dir/src_copy.

defaults:
  - common
  - /stable_manifest/oss
  - _self_

defines:
    filesystem: ${oc.env:ALPASIM_LUSTRE_SHARED_CACHE}

wizard:
    run_method: "SLURM"
    slurm_gpu_partition: ${oc.env:CI_SLURM_PARTITION}
    slurm_cpu_partition: "cpu"

services:
  eval:
    volumes:
      - "${wizard.log_dir}:/mnt/log_dir"
      - "${scenes.database.scene_cache}:/mnt/nre-data"
      - "${wizard.log_dir}/src_copy:/mnt/src"
  post_eval_aggregation:
    volumes:
      - "${wizard.log_dir}:/mnt/log_dir"
      - "${or:${wizard.array_job_dir},${wizard.log_dir}}:/mnt/array_job_dir"
      - "${wizard.log_dir}/src_copy:/mnt/src"
