alpackages/*.tar
cosmos-models/
nre-artifacts/artifact-*
rollouts/default-savedir/*
trafficsim/rollouts/
ncore-artifacts
nre-artifacts
docker-compose/**/*.txt
docker-compose/**/*.out

*.sqsh
*.out
*.parquet

config/generated-network-config.yaml
config/generated-user-config-*.yaml
docker-compose/generated-docker-compose.yaml

kpi/*
