# @package _global_

runtime:
  default_scenario_parameters:
    force_gt_duration_us: 1_000_000
    n_sim_steps: 100
    n_rollouts: 1
    egopose_interval_us: 500_000
    control_timestep_us: 500_000
    time_start_offset_us: 500_000 # Needs to be in sync
    ego_mask_rig_config_id: null


    cameras:
    -
      height: 288
      width: 512
      logical_id: camera_front_wide_120fov
      frame_interval_us: 500_000 # also needs to be in sync
      shutter_duration_us: 30_000
      first_frame_offset_us: -30_000


  extra_cameras:
    # This is the original camera definition for camera_front_wide_120fov.
    # To be replaced by the nuscenes config when we support Pinhole cameras.
    - logical_id: camera_front_wide_120fov
      rig_to_camera: # TODO
        translation_m: [1.63082099, 0.00877489615, 1.4442848]
        rotation_xyzw: [-0.500755548, 0.504878879, -0.491597503, 0.502665937]
      intrinsics:
        model: ftheta
        ftheta:
          principal_point: [1914.631591796875, 1095.5191650390625]
          reference_poly: pixel_to_angle
          pixeldist_to_angle: [0.0, 0.00053811760153621435, -2.0823227586674875e-09, 7.15441464751998e-12, -2.9240015678768652e-15, 6.1012867831305464e-19]
          angle_to_pixeldist: [0.0, 1858.6182861328125, 10.53154468536377, -76.715240478515625, 54.805694580078125, -19.643806457519531]
          max_angle: 1.2267919312268143
          linear_cde:
            linear_c: 1.0
            linear_d: 0.0
            linear_e: 0.0
      resolution_hw: [2168, 3848]
      shutter_type: ROLLING_TOP_TO_BOTTOM
    # TODO(migl): This is the nuscenes config we want to support
    # - logical_id: nuscenes_CAM_F0
    #   rig_to_camera:
    #     translation_m: [1.65897811, -0.01443456, 1.51539499]
    #     rotation_xyzw: [-0.62959711, 0.44323081, -0.4556135, 0.44673288]
    #   intrinsics:
    #     model: opencv_pinhole
    #     opencv_pinhole:
    #       focal_length: [1545.0, 1545.0]
    #       principal_point: [960.0, 560.0]
    #       radial: [-0.356123, 0.172545, -0.05231, 0.0, 0.0, 0.0]
    #       tangential: [-0.00213, 0.000464]
    #       thin_prism: [0.0, 0.0, 0.0, 0.0]
    #   resolution_hw: [1080, 1920]
    # shutter_type: ???
